*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  min-height: 180px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

.header {
  margin: 0px 0px;
  padding: 94px 50px 94px 50px;
}

.cover {
  padding: 165px 50px 50px 50px;
  margin: 0px 0px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
}

.lots {
  margin: 180px 0px 0px;
  padding: 0px 24px 53px;
}

.about {
  display: grid;
  align-items: start;
  grid-template-columns: 334px 1fr;
  margin: 120px 24px 0px;
  padding: 35px 0px 0px 47px;
}

.footer {
  margin: 180px 0px 0px;
  padding: 0px 50px 80px;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

