.header {
  margin: 0px 0px;
  padding: 94px 50px 94px 50px;
  display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}
 
.header__links-list {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    list-style: circle;
}

.header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    width: 129px;
    height: 105px;
}

.address {
    max-width: 240px;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
}

.header_address {
    display: flex;
    justify-self: end;
    flex-direction: column;
    text-underline-offset: auto;
}

.header__address {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 24.3px;
}


.cover {
  padding: 165px 50px 50px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  position: relative;
  background-position: center;
  z-index: 1;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.cover__title {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    line-height: 1.15;
    color: #fff;
    font-size: 100px;
    letter-spacing: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.aligned-text {
    display: inline-block;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    margin-right: -30px;
    text-align: center;
}

.aligned-text_right {
    text-align: right;
    margin-right: -30px;
    padding-bottom: 106px;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    word-spacing: 15px;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-family: Raleway, sans-serif;
}

.bet-button {
    background-color: transparent;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    color: #fff;
    width: 256px;
    height: 51px;
    border-color: #fff;
}

.lots {
  margin: 180px 0px 0px;
  padding: 0px 24px 0px;
}

.lots__heading {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
    list-style: none;
}

.lots__card-list-item {
    width: 334px;
}

.card-link {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    text-decoration: none;
}

.card {
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    min-height: 596px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    color: #fff;
    text-decoration-line: underline;
    padding: 48px 40px 0;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 120%;
    font-size: 22px;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    padding: 0 40px 48px;
}

.more {
    color: #000;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 0px;
}

.about {
  display: grid;
  align-items: start;
  grid-template-columns: 334px 1fr;
  margin: 120px 24px 0px;
  padding: 35px 0px 0px 47px;
}

.about__logo {
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about-column {
    display: flex;
    flex-direction: column;
    padding: 98px 0px 0px 0px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.about__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    padding-top: 100px;
    display: grid;
    gap: 24px;
}

.footer {
  margin: 180px 0px 0px;
  padding: 0px 50px 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_address {
    display: flex;
    flex-direction: column;
}

.footer__menu {
    display: flex;
}

.footer__menu-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.footer__menu-list-item {
    list-style: none;
    text-align: center;
    margin-right: 177.5px;
}

.footer__social-list {
    display: flex;
}

.footer__social-list-item {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}